<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.dong4j.zeka.starter.sample.mybatis.integration.dao.RuleDao">
    <!-- 通用查询映射结果 -->
    <resultMap id="RuleResultMap" type="dev.dong4j.zeka.starter.sample.mybatis.integration.entity.po.Rule">
        <result column="id" property="id"/>
        <result column="deleted" property="deleted"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="ip_from" property="ipFrom"/>
        <result column="ip_to" property="ipTo"/>
        <result column="match_mode" property="matchMode"/>
        <result column="name" property="name"/>
        <result column="priority" property="priority"/>
        <result column="enabled" property="enabled"/>
        <result column="dispatch_mode" property="dispatchMode"/>
    </resultMap>


</mapper>
