<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.dong4j.zeka.starter.sample.mybatis.integration.dao.UserDao">
    <!-- 通用查询映射结果 -->
    <resultMap id="UserMap" type="dev.dong4j.zeka.starter.sample.mybatis.integration.entity.po.User">
        <result column="id" property="id"/>
        <result column="deleted" property="deleted"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="phone" property="phone"/>
        <result column="user_name" property="userName"/>
        <result column="nick_name" property="nickName"/>
        <result column="company_name" property="companyName"/>
        <result column="password" property="password"/>
        <result column="salt" property="salt"/>
        <result column="api_key" property="apiKey"/>
        <result column="secret_key" property="secretKey"/>
        <result column="email" property="email"/>
        <result column="status" property="status" javaType="int"/>
        <result column="gender" property="gender"/>
    </resultMap>

    <resultMap id="UserDTOMap" type="dev.dong4j.zeka.starter.sample.mybatis.integration.entity.dto.UserDTO">
        <result column="*"/>
    </resultMap>

    <select id="page" resultMap="UserDTOMap">
        select *
        from user
        where deleted = 0
        <if test="query.startTime != null">
            <![CDATA[ and create_time >= #{query.startTime} ]]>
        </if>
        <if test="query.endTime != null">
            <![CDATA[ and create_time <= #{query.endTime} ]]>
        </if>
        <if test="query.userName != null and query.userName != ''">
            and user_name = #{query.userName}
        </if>
    </select>

    <select id="stream" resultMap="UserDTOMap">
        select *
        from user
        where deleted = 0
        <if test="query.userName != null and query.userName != ''">
            and user_name = #{query.userName}
        </if>
    </select>
</mapper>
